<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>21 Savage Fans</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Personal library</h1>
  <h2>Checkout your different book collections!</h2>

<%# this is comment syntax in EJS %>

  <h3>Current list of books:</h3>
  <ul class="book-list"> <%# each line when you press enter is a new node regardless if it's %>
  <% for(var i=0; i<bookList.length; i++) {%>
    <li class="book"> <%# res.render('index.ejs', {key(bookList): value(bookList[i].bookName)}) %>
      <span><%= bookList[i].bookNameDB %></span> <%# node index [1] %>
      <span><%= bookList[i].bookAuthorDB %></span> <%# node index [3] %>
      <span><%= bookList[i].yearCreatedDB %></span> <%# node index [5] %>
      <span><%= bookList[i].currentlyReadingDB %></span> <%# node index [7] yes or no %>
      <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
  <% } %>
  </ul>

  <h2>Add a message</h2>
<%# don't need to add post route since submit will add to database and create it %>
<%# the key name for the post request body is what the name attribute is in the input tag (check network tab submission under payload (300)%>
  <form action="/createBookEntry" method="POST">
    <input type="text" placeholder="ex. How to win friends and influence people" name="bookNameFromForm">
    <input type="text" placeholder="ex. Dale Carnegie" name="bookAuthorFromForm">
    <input type="text" placeholder="ex. 1987" name="yearCreatedFromForm">
    <label for="currentlyReadingChoice"></label>
    <select name="currentlyReadingChoiceFromForm" id="currentlyReadingChoice">
      <option value="question">Are you currently reading this book?</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
